@import "design-system.css";
@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  body {
    min-height: 100vh;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }

  img,
  picture {
    max-width: 100%;
    display: block;
  }

  :target {
    scroll-margin-block: 5ex;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--space-6);
  padding-inline: var(--space-10);
}

.hero {
  margin-top: var(--space-8);
}

.hero__image {
  background-image: url("../starter-code/assets/tablet/image-hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: min(100%, 400px);
  aspect-ratio: 2;
}

.hero__title {
  margin-top: var(--space-6);
}

.hero__content-wrapper {
  text-align: center;
  padding-inline: var(--space-5);
  padding-block-end: var(--space-8);
}

.hero__description {
  margin-block: var(--space-4);
}

.grid {
  display: grid;
  margin-block-start: var(--space-8);
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-3);
}

.grid__image {
  border-radius: 10px;
}
.text-center {
  text-align: center;
}
.grid__title {
  margin-top: var(--space-3);
  margin-bottom: var(--space-5);
}

.footer {
  background-color: var(--color-cyan-600);
  opacity: 0.7;
  background-image: url("../starter-code/assets/mobile/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-blend-mode: color-burn;
  padding: 64px 32px 64px 32px;
  display: flex;
  flex-direction: column;
}

.footer .text-p {
  margin-block: var(--space-4);
}

.footer .button-group__button {
  margin: 0 auto;
}

@media (min-width: 40em) {
  .hero__image {
    background-size: min(100%, 700px);
  }
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer__content {
    text-align: center;
  }
  .text-center {
    text-align: center;
    max-width: 65ch;
    margin-inline: auto;
  }
}

@media (min-width: 90em) {
  .hero {
    max-width: 85vw;
    margin-inline: auto;
  }
  .hero,
  .hero__image {
    background-image: none;
  }
  .hero__image {
    display: none;
  }
  .hero hgroup {
    max-width: 60ch;
    margin-inline: auto;
  }
  .hero .hero__content-wrapper {
    margin: 0 auto;
    padding-inline: 32px;
    position: relative;
  }

  .bg-left,
  .bg-right {
    position: absolute;

    width: 24.625rem;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .bg-left {
    background-image: url("../starter-code/assets/desktop/image-hero-left.png");
    left: 0;
  }
  .bg-right {
    background-image: url("../starter-code/assets/desktop/image-hero-right.png");
    right: 0;
  }

  .grid {
    max-width: 75vw;
    margin-inline: auto;
  }
  .text-center {
    text-align: center;
    max-width: 65ch;
    margin-inline: auto;
  }

  .footer {
    background-color: var(--color-cyan-600);
    background-image: url("../starter-code/assets/desktop/image-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-burn;
    padding-block: 64px;
    color: white;
  }

  .footer__content {
    justify-content: space-between;
    display: flex;
    align-items: center;
    max-width: 85vw;
    gap: var(--space-6);
    margin: 0 170px;
  }
  .footer__text {
    display: flex;
    align-items: center;
  }
  .footer__text h2 {
    margin: 0 0 var(--space-3) 0;
    max-width: 15ch;
    text-align: left;
  }

  .footer__text p {
    margin: 0 0 0 35px;
    max-width: 35ch;
    text-align: left;
  }

  .footer__button {
    display: flex;
    justify-content: flex-end;
  }
}
